body {
	color: black;
  	background-color: black;
	align-content: center;
	display: block;
	background-image: url("background.png");
	max-width: 100%;
    overflow-x: hidden;
}


#logo {
	margin: auto;
	padding: auto;
	display: block;
	width: 50%;
	margin-bottom: 5vh;
	border-radius: 20px;
}

#logo2 {
	margin: auto;
	padding: auto;
	display: block;
	width: 30%;
	margin-bottom: 5vh;
	margin-top: 5vh;
	border-radius: 20px;
}

h1 {
	font-family: Georgia, serif;
	font-size: 5vw;
	font-weight: 900;
	font-style: italic;
	
	padding: 10px;
	align-content: center;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	
  	color: white;
  	background-color: black;
	
	border-bottom: solid;
	border-top: solid;
	border-color: skyblue;
}

h2 {
	font-family: Brush Script MT, Brush Script Std, cursive;
	width: auto;
	font-size: 10vw;
	
	align-content: center;
	text-align: center;
	
 	color: white;
	margin-top: 30px;
	margin-bottom: 0px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
	align-content: center;
	margin: auto;
    padding: auto;
	display: inline-block;
	overflow: hidden;
    display: flex;
    justify-content: center;
	
	border-top: solid;
	border-color:skyblue;
	border-bottom: solid;
	border-color: skyblue;
	
}

/* Style the links inside the navigation bar */
.topnav a {
	
	float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
	
  text-decoration: none;
  font-size: 25px;
	font-size: 2vw;
	font-weight: 700;
	
	
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



.blog_area{
	margin: 20px;
	margin-top: 25px;
	width: auto;
	align-content: center;
}

.blog {
	margin: auto;
	width: auto;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	padding-top: 1px;
	margin-bottom: 20px;
	align-content: center;
	text-align: center;
}

.blog_area2{
	margin: 20px;
	width: auto;
	align-content: center;
}

.blog2 {
	margin: auto;
	width: auto;
	background-color: white;
	border-radius: 20px;
	padding-top: 1px;
	padding-bottom: 100px;
	align-content: center;
	text-align: center;
}


.image_container {
	margin: 50 auto;
	padding: auto;
	width: inherit;
	text-align: center;
	
}

.home_image {
	display: inline-block;
	
	margin: 10px;
	padding: auto;
	width: 300px;
	height: 375px;
	
}

h3 {
	color: black;
	padding: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
	font-size: 40px;
}

.date {
	padding: 20px;
	padding-top: 0px;
	margin: 0px;
	
}

p {
	color: black;
	padding: 20px;
	padding-top: 0px;
	font-size: 25px;
}

.ninja_image {
	display: block;
	margin: auto;
	padding: auto;
	margin-bottom: 20px;
    justify-content: center;
	border-radius: 20px;
	
}

.game {
	text-align: center;
	height: inherit;
	width: inherit;
}

.game_container {
	margin: auto;
	position: auto;
	height: inherit;
	width: inherit;
	display: block;
}

.game_display {
	margin: auto;
	position: auto;
	height: inherit;
	width: inherit;
	overflow: hidden;
}

.scratch {
	margin: auto;
	position: relative;
	width: 90vh;
	height: 90vh;
	display: inline-block;
}

.makecode {
	margin: auto; 
	height: 90vh;
	width: 70vh;
	display: inline-block;
}

.javascript {
	margin: auto;
	display: inline-block;
	width: 1800px;
	height: 100%;
	position: relative;
	overflow: hidden;
	padding-left: 30vw;
	margin-top: 20px;
	
	
	
	-webkit-transform: scale(0.75);
  	-webkit-transform-origin: 0 0;
	
}

.button {
	margin: auto;
	display: inline;
	position: relative;
	width: 5vw;
	height: 5vw;
	align-content: center;
	align-self: center;
	padding-bottom: 0vh;	
	z-index:1;
}

.game_link {
	display: block;
	position: relative;
	margin-top: 10vh;
	font-size: 5vw;
	margin-bottom: 3vh;
}

.list_container {
	display: inline-block;
}

ul {
	display: inline;
    columns: 1;
	
}

li {
	float: right;
	padding-right: 50px;
}
